.input {
  padding: 10px;
  font-size: 20px;
}

.add-button {
  padding: 10px;
  font-size: 20px;
  margin-left: 5px;
}

.rm-button {
  padding: 10px;
  font-size: 20px;
  margin-left: 5px;
}

.msg {
  width: 510px;
  font-size: 25px;
  margin-top: 25px
}

.msg div {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.msg button {
  font-size: 25px;
  margin-left: 10px;
}

